.cart {
	background:transparent url('../images/bg-cart.png') repeat-x bottom left;
	padding-bottom: 10px;
	box-shadow: 0 -5px 6px #999;

	&__header {
		padding: 0 10px;
		border-bottom:1px dotted #aaa;
		background-color: #f8f4ec;
	}

	&__footer {
		background-color: #f8f4ec
	}

	&__list {
		background-color:#fcfaf6;
		list-style: none;

		li {
			border-bottom:1px dotted #aaa;
			transition: 800ms;

			&.ng-enter.ng-enter-active,
			&.ng-leave {
				opacity: 1;
				height: 120px;
				overflow: hidden;
			}

			&.ng-leave.ng-leave-active,
			&.ng-enter {
				opacity: 0;
				height: 0;
				overflow: hidden;
			}

		}
	}
}
